:root {
  --system-ui: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Arial','Helvetica',sans-serif;
  --black: #1B1F23;
  --white: #FAFAFA;
  --gray: #586069;
}
h1 {
  font-family: var(--system-ui);
  font-size: 36px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}
h3 {
  font-family: var(--system-ui);
  font-size: 18px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}
h5 {
  font-family: var(--system-ui);
  font-size: 16px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}
p, li {
  font-family: var(--system-ui);
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.28s;
}
html{
  color: var(--black);
  background: var(--white);
  padding: 3vw 0vw;
  animation: 1s ease-in fade-in;
}
body{
  font-family: var(--system-ui);
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: grid;
}
/*NAVBAR*/
nav{
  display: flex;
  margin-bottom: 3em;
  line-height: 3em;
  justify-content: space-between;
  grid-column: 2/12;
}
.nav-left{
  float: left;
  margin-right: auto;
}
.nav-right{
  float: right;
  margin-left: auto; 
}
.option {
  display: inline;
  font-weight: 400;
  margin: 2vw;
  color: var(--gray);
  text-decoration: none;
}
.selected{
  color: var(--black);
  font-weight: 500;
}
/*HEADER*/
header{
  display: flex;
  grid-column: 2/12; 
  align-items: center;
  justify-content: space-between;
}
.head-left{
  float: left;
  margin: 0em 1em 0em 1em;
}
.head-right{
  float: right;
  margin: 0em 1em 0em 1em;
}
.profile-picture{
  height: 25em;
  width: 25em;
  border-radius: 100em;
  margin-right: 3em;
}
/*MAIN*/
main{
  grid-column: 2/12;
  grid-template-columns: 100%;
}
article{
  display: flex;
  grid-column: 2/12;
  align-items: center;
  justify-content: space-between;
}
.main-img{
  float: right;
  margin: 3em;
  text-align: center;
}
.main-text{
  float: left;
  margin: 3em;
  text-align: center;
}
.main-picture{
  height: 25em;
  width: 25em;
  border-radius: 5em;
  object-fit: cover;
}
/*FOOTER*/
footer{
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  line-height: 3em;
  margin-top: 3em;
  color: var(--gray);
}
.foot-left{
  float: left;
  margin-right: auto;
}
.foot-right{
  float: right;
  margin-left: auto;
  width: 140px;
  display: flex;
}
.icons {
  height: 1.5em;
  opacity: 0.5;
  transition: 0.28s;
  margin-left: 1em;
}
.scroll-to-top {
  position: fixed;
  bottom: 4em;
  right: 4em;
  z-index: 99;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  outline: none !important;
  background: url(Images/arrow-up.png) center / contain no-repeat;
  opacity: 0.45;
}

@media screen and (max-width: 1200px) {
  header{
    flex-direction: column;
  }
  .profile-picture{
    margin: 4em auto 2em auto;
  }
  .article{
    flex-direction: column;
  }
  article{
    flex-direction: column-reverse;
  }
  .main-picture{
    width: 35em;
  }
}
@media screen and (max-width: 700px) {
  nav{
    margin-bottom: 1em;
  }
  .nav-left{
    margin-top: 0em;
  }
  .nav-right{
    margin-top: 0em;
  }
  .nav-center{
    margin-top: 2.3em;
  }
  .option{
    display: block
  }
  .main-text{
    margin-left: 0;
    margin-right: 0;
  }
}
/* ANIMATIONS */
@keyframes fade-in {
0% {
  opacity: 0;
  transform: translateY(3%);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 450px) {
  h1 {
      font-size: calc(36px + 36* ((100vw - 320px) / 680));
  }
  h2 {
      font-size: calc(24px + 30 * ((100vw - 320px) / (680)));
  }
  h3 {
      font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
  }
  h4 {
      font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
  }
  h5 {
      font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
  }
  h6 {
      font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
  }
  p, li {
      font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
  }
}
@media screen and (min-width: 1000px) {
  h1 {
      font-size: 72px;
  }
  h2 {
      font-size: 60px;
  }
  h3 {
      font-size: 36px;
  }
  h4 {
      font-size: 24px;
  }
  h5 {
      font-size: 20px;
  }
  h6 {
      font-size: 16px;
  }
  p, li {
      font-size: 24px;
  }
}
